<br><br><br>
<div class="jumbotron">
	<h1>Oracle PPM Tap Api</h1>
	<p>Use <%= link_to "/ppm/pjlMyTasks", "/ppm/pjlMyTasks" %> to access list of my tasks</p>
	<p>Use <%= link_to "/ppm/pjlFollowedTasks", "/ppm/pjlFollowedTasks" %> to access list of followed tasks</p>
	<p>Use <%= link_to "/ppm/pjlMyTasks", "/ppm/pjlMyTasks" %>/[planLineId] to access my tasks</p>
	<p>Use <%= link_to "/ppm/pjlFollowedTasks", "/ppm/pjlFollowedTasks" %>/[planLineId] to access followed tasks</p>
	<hr>
	<small>All tasks are for user Connor Horton. Additional features including create task and update task will be added in upcoming updates. The data is a simulated dump of pz3yd580 as of May 3rd, 2015</small>. 
	<p class="text-center"><small>&copy; Ackshaey Singh 2015</small></p>
</div>